* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #eee;
}

.header-top {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.header-left :hover {
    cursor: pointer;
}

.header-left img {
    width: 15vw;
    height: auto;
}

.header-search {
    width: 40%;
    background: #f5f5f5;
    border-radius: 25px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
}

.search-input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.search-icon {
    margin-right: 8px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right i {
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.header-right i:hover {
    color: #9b2c2c;
}

.cart-wrapper {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #9b2c2c;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
}

.header-menu {
    border-top: 1px solid #eee;
    background: #fafafa;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /* allows wrapping on smaller screens */
    gap: 20px;
    padding: 12px 0;
}

.header-menu a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.header-menu a:hover {
    color: #9b2c2c;
}

@media (max-width: 992px) {

    .header-left {
        width: auto;
        gap: 10px;
    }

    .header-search {
        width: 50%;
    }

    .header-right {
        gap: 15px;
    }

    .header-menu {
        justify-content: center;
        gap: 15px;
        padding: 10px 0;
    }
}
