*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    cursor: pointer;
}

.bannerimg {
    width: 100%;
    object-fit: cover;
}


.cloud1, .cloud2, .cloud3,
.cloud4, .cloud5, .cloud6,
.cloud7, .cloud8, .cloud9 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    background-image: url('../assets/images/cloud.png');
    background-size: cover;
    animation: moveClouds 200s linear infinite;
    pointer-events: none;
}

.cloud1 { top: 450px; }
.cloud2 { top: 470px; }
.cloud3 { top: 490px; }

.cloud4 { top: 1150px; }
.cloud5 { top: 1170px; }
.cloud6 { top: 1190px; }

.cloud7 { top: 1900px; }
.cloud8 { top: 1920px; }
.cloud9 { top: 1940px; }

@keyframes moveClouds {
    from { background-position: 0 0; }
    to { background-position: -10000px 0; }
}


.story {
    width: 100%;
    min-height: 800px;
    background-image: url('../assets/images/vanranginibackground.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 5%;
}

.storydata {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 2;
}

.story h1 {
    font-size: 40px;
}

.story p {
    width: 80%;
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
}

.ornmentcon {
    width: 60%;
    display: flex;
    gap: 20px;
}

.ornmentcon1, .ornmentcon2 {
    flex: 1;
    background: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ornmentcon img {
    width: 100%;
}

.ornmentcon1:hover,
.ornmentcon2:hover {
    transform: scale(1.05);
}

.stones {
    width: 100%;
    min-height: 800px;
    background-image: url('../assets/images/vanranginibackground.png');
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 5%;
    gap: 50px;
}

.stones img {
    width: 35%;
    border-radius: 10px;
    z-index: 2;
}

.stonesdata {
    width: 45%;
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
    z-index: 2;
}


.catgories {
    width: 100%;
    min-height: 700px;
    background-image: url('../assets/images/vanranginibackground.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 100px 5%;
    flex-wrap: wrap;
}

.categoriesdata {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    z-index: 2;
}

.categoriescon {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.catgory {
    width: 280px;
    height: 320px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
}

.catgory img {
    width: 70%;
}

.catgory:hover {
    transform: translateY(-10px);
}


@media (max-width: 992px) {

    .story {
        flex-direction: column;
        text-align: center;
    }

    .storydata {
        width: 100%;
    }

    .stones {
        flex-direction: column;
        text-align: center;
    }

    .stones img {
        width: 60%;
    }

    .stonesdata {
        width: 90%;
    }

}


@media (max-width: 576px) {

    .story h1 {
        font-size: 28px;
    }

    .story p {
        font-size: 14px;
        width: 95%;
    }

    .ornmentcon {
        flex-direction: column;
    }

    .stones img {
        width: 90%;
    }

    .catgory {
        width: 90%;
    }

    .categoriesdata {
        font-size: 18px;
    }

    .cloud1, .cloud2, .cloud3,
    .cloud4, .cloud5, .cloud6,
    .cloud7, .cloud8, .cloud9 {
        height: 10%;
    }

    .cloud1 { top: 36px; }
    .cloud2 { top: 38px; }
    .cloud3 { top: 40px; }

    .cloud4 { top: 820px; }
    .cloud5 { top: 830px; }
    .cloud6 { top: 840px; }

    .cloud7 { top: 2000px; }
    .cloud8 { top: 2020px; }
    .cloud9 { top: 2040px; }

}
